:root {
    --primary-text-color: #212121
    --secondary-text-color: #757575
    --accent-color: #2196F3 
}


body {
    color: #212121;
}

.header-logo,
.footer-logo {
    color: #2196F3;
}

.hl-second {
    color: #212121;
}

.site-nav a:hover,
.site-nav a:focus  {
    color: #2196F3;
}

.site-nav a{
    color: #212121;
}
.contact:hover,
.contact:focus {
    color: #2196F3;
}

.contact {
    color: #757575;
}

.footer-contact {
    color: rgba(255, 255, 255, 0.6);
}
/* Герой */
.hero {
    background-color: #2F303A;
}

.hero-title,
.footer-address {
    color: #FFFFFF;
}

.team {
    background-color: #F5F4FA;
}

.button {
    background-color: #2196F3;
    color: #FFFFFF;
    border-color: transparent;
}

.text {
      color: #757575;
  }

.footer, 
.hero {
      background-color: #2F303A;
  }

  .fl-second {
      color: #FFFFFF
  }

ul{
    list-style: none;
}
